<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3">
  
          <!-- Mensagem de retorno da API -->
          <div *ngIf="mensagemSucesso" class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>{{mensagemSucesso}}</strong>
            <button (click)="mensagemSucesso = ''" type="button" class="btn-close" aria-label="Close"></button>
          </div>
  
          <div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{mensagemErro}}</strong>
            <button (click)="mensagemErro = ''" type="button" class="btn-close" aria-label="Close"></button>
          </div>
  
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="nome" class="form-label">Nome:</label>
              <input type="text" id="nome" class="form-control" formControlName="nome">
              <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">
                Informe um nome de 8 a 100 caracteres.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" id="email" class="form-control" formControlName="email">
              <div class="text-danger" *ngIf="f['email'].touched && f['email'].invalid">
                Informe um endereço de email válido.
              </div>
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="cpf" class="form-label">CPF:</label>
              <input type="text" id="cpf" class="form-control" formControlName="cpf" maxlength="14" (input)="onCPFInput($event)">
              <div class="text-danger" *ngIf="f['cpf'].touched && f['cpf'].invalid">
                Informe um CPF no formato "000.000.000-00".
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="telefone" class="form-label">Telefone:</label>
              <input type="text" id="telefone" class="form-control" formControlName="telefone" maxlength="15" (input)="onTelefoneInput($event)">
              <div class="text-danger" *ngIf="f['telefone'].touched && f['telefone'].invalid">
                Informe um número de telefone no formato "(00) 00000-0000".
              </div>
            </div>
          </div>
  
          <!-- Botão de Cadastro -->
          <div class="col-12 text-end">
            <button type="submit" [disabled]="form.invalid" class="btn btn-outline-primary btn-sm">
              Atualizar Cadastro
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  